/*
$mainBlue: #00A3C8;
$steelBlue: #004861;
body{
    color:#333;
}
h1{
    color:#FC3;
}
.large-hero{
h2{
    color:$steelBlue;
 }
}*/
/*@import ("akjwnjkaw"); will not use this*/

@import "normalize.css";
@import "base/_mixins";
@import "base/_variables";
@import "base/_global";
@import "base/_grid";
@import "base/_helper";
@import "modules/_heading";
@import "modules/_btn";

@import "modules/_large-hero";
@import "modules/_our-beginning";
@import "modules/_services";
@import "modules/_counter.css";
@import "modules/_header.css";
@import "modules/_reveal-item.css";
@import "modules/_testimonial-section.css";
@import "modules/_contact-box.css";
@import "modules/_form.css";
@import "modules/_modal.css";

